USE [master]
GO
/****** Object:  Database [sampledb]    Script Date: 09-01-2024 04:34:17 PM ******/
CREATE DATABASE [sampledb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sampledb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\sampledb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sampledb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\sampledb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sampledb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sampledb]
GO
/****** Object:  Table [dbo].[employe]    Script Date: 09-01-2024 04:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employe](
	[EMPNAME] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[PHONE] [varchar](50) NULL,
	[SALARY] [varchar](50) NULL,
	[DOB] [datetime] NULL,
	[DEPARTMENT] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 09-01-2024 04:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](50) NULL,
	[SALARY] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[department] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[deletedata]    Script Date: 09-01-2024 04:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deletedata]
(
@NAME VARCHAR(50))
										
AS BEGIN
SET NOCOUNT ON;
			delete from  employee where NAME=@NAME;
			END
GO
/****** Object:  StoredProcedure [dbo].[insertdata]    Script Date: 09-01-2024 04:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insertdata]
(
@NAME VARCHAR(50),
@EMAIL VARCHAR(50),
@PHONE VARCHAR(50) ,
@SALARY VARCHAR(50),
@DOB varchar(50),
@DEPARTMENT VARCHAR(50))
										
AS BEGIN
SET NOCOUNT ON;
			INSERT INTO employee(NAME,EMAIL,PHONE,SALARY,DOB,DEPARTMENT)
			VALUES(@NAME,@EMAIL,@PHONE,@SALARY,@DOB,@DEPARTMENT);
			END
GO
/****** Object:  StoredProcedure [dbo].[showlist]    Script Date: 09-01-2024 04:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[showlist]
as  
begin  
select  * from employee  
end 
GO
/****** Object:  StoredProcedure [dbo].[updateemployee]    Script Date: 09-01-2024 04:34:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[updateemployee]
(
@NAME VARCHAR(50),
@EMAIL VARCHAR(50),
@PHONE VARCHAR(50) ,
@SALARY VARCHAR(50),
@DOB varchar(50),
@DEPARTMENT VARCHAR(50))
										
AS BEGIN
SET NOCOUNT ON;
			update employee set EMAIL =@EMAIL,PHONE=@PHONE,SALARY=@SALARY,DOB=@DOB,DEPARTMENT=@DEPARTMENT WHERE NAME=@NAME
			
			END
GO
USE [master]
GO
